body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background: #BBBBBB;
  padding: 20px 0 ; /*entre a margem tenha um espaçamento*/
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;  /*Deixar o itens um do lado do outrom na linha*/
  margin: 0 0 0 18px ; /*margem de cada item. primeiro topo, despois direita, baixo e esquerda*/

}

nav a {
  font-weight: bold; /*Trasnformando o texto em negrito*/
  font-size: 22px;
  text-transform: uppercase; /*Transformando o texto em letra MAIUSCULA*/
  color: #000000; /* Black*/ 
  text-decoration: none; /*Sem nenhuma decoração no texto*/
}

nav a:hover {
  color: #C78C19;
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box; 
  border: 2px solid #000000;
  border-radius: 10px;
}

.produtos li:hover {
 border-color: #C78C19;

}

.produtos li:active {
  border-color: #088C19;
}

.produtos li:hover h2 {
  font-size: 34px; /*) Quando algum item da lista de produtos estiver sendo ativado pelo usuário, modifique a cor da sua borda*/
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 18px;
}

.produto-preco { 
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  
}

footer {
  text-align: center;
  background: url("imgs/bg.jpg");
  padding: 40px 0; /* 40px pra cima e pra baixo e 0px para os lados*/
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px 0 0;
}

main {
  
}

form {
 margin: 40px 0;
}

form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;    
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all; /*Transição que o CSS 3 */
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.2);
}

table {
  margin:20px 0 40px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td, th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

/*CSS da página inicial*/

.banner {
  width: 100%;
}

.principal {
  padding: 3em 0;
  background: #FEFEFE;
  width: 940px;
  margin: 0 auto;
}

.titulo-principal {
  text-align: center;
  font-size: 2em; /*a media proporcional para pixels. Se quisermos duas vezes o tamanho base (15 pixels), basta escrever 2em.*/
  margin:  0 0 1em; 
  clear: left; /*LIMPA O FLOAT*/
  color: rgba(0, 0, 0, 0.3); /*CSS 3*/
 /* text-shadow: 2px 2px #FF0000; */
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0; /*20px para direita, 20px para baixo e 0 para a direita*/
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#FEFEFE, #888888); /*CSS 3*/
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.beneficios {
  padding: 3em 0;
  background: #888888;
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before { /*CSS 3*/
  content: "★"; /*https://unicode-table.com/en/sets/star-symbols/*/
}

.imagem-beneficios {
  width: 60%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000; /*Sombras CSS3*/
}

.imagem-beneficios:hover {
  opacity: 0.3;
}

.video {
  width: 560px;
  margin: 2em auto;
}












/* repara que o nosso texto, ou seja, a nossa descrição, ela está muito colada na borda, está muito colada no fim do elemento, e aí, eu quero aumentar o espaçamento interno. O espaçamento interno é o padding, eu vou botar 30 pixels para cima e para baixo e 20 pixels para as laterais.

[01:47] Quando eu salvo isso e recarrego o navegador, reparem que o tamanho do elemento aumentou, antes eu tinha um elemento com 30% de largura, mas agora eu tenho um elemento com 30% de largura e mais 20 pixels para cada lado, o padding, o espaçamento interno, ele adicionou uma largura naqueles 30%.

[02:13] E aí, com isso, quebrou toda a minha conta, mas mexer com pixel, junto com percentual, é uma coisa que a gente faz no dia-a-dia e aí, tem uma forma para resolver isso. Hoje, o nosso CSS e o nosso navegador, eles estão somando percentual, mais os pixels.

[02:31] A gente tem como mudar a forma como ele pensa, para que o espaçamento lateral esteja dentro do percentual. E aí, para fazer isso, a gente usa uma propriedade chamada box-sizing: border-box, com isso aqui, os meus 30%, agora são definitivos, são sempre a largura e esses pixels de espaçamento interno, estão dentro desses 30%.

[03:02] Então, quando eu salvo isso e volto para o meu navegador, está lá. A gente tem um espaçamento interno de 20 pixels para cada lado e a gente tem um elemento ocupando 30% da largura. Para deixar isso aqui ainda mais perfeito, o nosso preço está muito colado na descrição.*/