header {
  background: #BBBBBB;
  padding: 20px 0 ; /*entre a margem tenha um espaçamento*/
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;  /*Deixar o itens um do lado do outrom na linha*/
  margin: 0 0 0 15px ; /*margem de cada item. primeiro topo, despois diretia, baixo e esquerda*/

}

nav a {
  font-weight: bold; /*Trasnformando o texto em negrito*/
  font-size: 22px;
  text-transform: uppercase; /*Transformando o texto em letra MAIUSCULA*/
  color: #000000; /* Black*/ 
  text-decoration: none; /*Sem nenhuma decoração no texto*/
}